/* DESKTOP-FIRST=general rules */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
.border {
  /* border: 1px solid #000; */
}
body {
    font-family: "Raleway", "Sans serif";
    max-width: 1500px;
} /* max-width desktop in body */
* {
  box-sizing: border-box;
  margin: 0;  
}  
/* block & content */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px 20px;
} 
a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  font-weight: 500;
} 
.headerImg {
  padding: 60px 0px 0px 0px;
  order: 1;
} 
.headerNav {
  order: 2;
}
.headerNavLink {
  font-size: 20px;
}
.headerNavLink:hover {
  border-top: 5px solid #0065FC;
} 
.headerNavLink:nth-child(1) {
  padding: 60px 50px 0px 50px;
  color: #0065FC;
  order: 3;
}
.headerNavLink:nth-child(2) {
  padding: 60px 0px 0px 50px;
  order: 4;
  border-top: none;
}
/* block & content */
.search {
  width: 100%;
  padding: 0px 20px 30px 20px;
} 
.searchTitle {
  font-size: 20px;
  padding: 0px 0px 5px 0px;
  font-weight: 700;
}
.searchTitle br {
  display: none;
}
.searchSubtitle {
  font-size: 15px;
  font-weight: 500;
}
.searchForm {
  width: 32%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  margin: 20px 0px 20px 0px;
}  
.searchFormInput {
  width: 40%;
  border: 3px solid transparent;
  padding: 10px 0px 10px 25px;
}
.searchFormInput::placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #000;
} 
.searchFormWrapicon {
  border: 5px solid #f2f2f2;
  border-radius: 32px 0px 0px 32px;
  background-color: #f2f2f2;
  padding: 25px 30px 25px 30px;
}    
i {
  color: inherit;
  }
.searchFormSubmit {
  border: 5px solid #0065FC;
  background-color: #0065FC;
  position: absolute;
  right: 0;
  padding: 25px 30px 25px 30px;
  border-radius: 0px 30px 30px 0px;
} 
.searchFormSubmitText {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
} 
i.fa-search {
  display: none;
} 
.searchFilters {
  display: flex;
  align-items: center;
  padding: 10px 0px 20px 0px;
  width: 100%;
} 
.searchFiltersTitle {
  font-size: 15px;
}
.searchFiltersContent {
  display: flex;
  margin: 0px 0px 0px 16px;
}
.searchFiltersFilter {
  display: flex;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 50px;
  align-items: center;
  margin: 0px 13px;
}
.searchFiltersFilter:hover {
  background-color: #DEEBFF;
} 
i.searchFiltersFilterWrapicon {
  border: 5px solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  color: #0065FC;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.searchFiltersFilterType {
  padding: 0px 20px 0px 10px;
  font-weight: 700;
}     
.searchResult {
  display: flex;
  align-items: center;
}
.fa-info {
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px 15px 10px 15px;
  color: #0065FC;
}
.searchResultWrapicon {
  margin-right: 10px;
}
.searchResultText {
  margin-right: 20px;
  font-size: 15px;
}
.searchResultText br {
  display: none;
}  
  /* block & content */
.title {
  font-size: 20px;      
  font-weight: 700;
} 
.img {
  border: 1px;
  object-fit: cover;
}
.figcaptiontitle {
  font-size: 15px;
}
.figcaptionsubtitle {
  font-size: 13px;
}
.hostingContent {
  display: flex;
  justify-content: space-between;
}
.card {
  box-shadow: 2px 2px 2px 2px #f2f2f2;
  border: 5px solid #fff;
  border-radius: 20px;
  margin: 0px 0px 30px 0px;
  background-color: #fff;
}
.figure {
  margin: 0;
}
.hostingPopular {
  border: 5px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
  order: 2;
  margin-left: 40px;
  padding: 30px 35px 30px 35px;
  flex: 0.8;
}
.PopularTitle {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
}
.PopularContent {
  display: block;
}
.PopularCard {
  height: 150px;
  width: 100%;
} 
article:active {
  color: #0065FC;
} 
.PopularCardFigure {
  display: flex;
}
.PopularCardFigureImg {
  border-radius: 15px 0px 0px 15px;
  width: 130px;
  height: 140px;
} 
.PopularCardFigcaption {
  padding: 30px 10px 0px 30px;
}
.PopularCardFigcaptionTitle {
  padding: 0px 0px 10px 0px;
}
.PopularCardFigcaptionSpace {
  padding: 20px 0px 0px 0px;
}
.fa-star {
    color: #0065FC;
    font-size: 13px;
    }
.fa-star[data-active="true"] {
    color: #f2f2f2;
    } 
.hostingMain {
    flex: 2.2;
    order: 1;
    padding: 30px 20px 0px 20px;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
}
.MainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
}
.MainTitle {
    padding: 0px 0px 20px 20px;
}
.MainCard {
    height: 205px;
    width: 30%;
} 
.Viewmore {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px 0px 20px;
} 
.MainCardFigureImg {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0px 0px;
  height: 110px;
}
.MainCardFigcaption {
  padding: 10px 0px 0px 20px;
}
.MainCardFigcaptionTitle {
  padding: 0px 0px 5px 0px;
}
/* block & content */
.activity {
  width: 100%;   
  padding: 50px 0px 0px 0px;
}  
.activityTitle {
  padding: 0px 0px 20px 30px;
}
.activityContent {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 0px 0px 30px;
}
.activityColumn {
  width: 25%;
}
.activityCard {
  border: 5px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 30px;
  box-shadow: 4px 4px 4px 4px #f2f2f2;
  width: 91%;
}
.activityCard2littleMargin {
  margin: 0px 0px 55px 0px;
} 
.activityCardFigureImg {
  height: 405px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
} 
.activityCardFigureImgLittleheightCards2and6 {
  height: 180px;
} 
.activityCardFigureImgLittleheightCards3and5 {
  height: 110px;
} 
.activityCardFigcaptionTitle {
  line-height: 50px;
  padding: 0px 0px 0px 20px;
} 
/* block & content */
.footer {
  width: 100%;
  padding: 20px 20px 20px 20px;  
  background-color: #f2f2f2;
} 
  .footerContent {
  display: flex;
  justify-content: space-between;
}
  .footerColumnTitle {
  padding: 0px 0px 20px 0px;
}
  .footerColumnLink {
  display: block;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
} 
/* DESKTOP-FIRST=general rules */

/* BODY TABLET */
@media screen and (max-width: 992px) {
    body {
      margin: 0;
    }
  }
  /* BODY TABLET */

  /* BODY SMARTPHONE */
  @media screen and (max-width: 768px) {
    body {
      margin: 0;
    }
  }
  /* BODY SMARTPHONE */

  /* HEADER TABLET=HEADER DESKTOP */
  @media screen and (max-width: 992px) {
  .headerNavLink:nth-child(1) {
    padding: 60px 32px 0px 32px;
  } 
  }
  /* HEADER TABLET=HEADER DESKTOP */

  /* HEADER SMARTPHONE */
  @media screen and (max-width: 768px) {
      .header {
      flex-direction: column;
      padding: 0px 0px 20px 0px;
      }
      .headerNav {
      display: flex;
      flex-wrap: nowrap;
      padding: 0px 0px 20px 0px;
      align-items: center;
      width: 100%;
      }
      .headerNavLink:hover {
        border-top: none;
      } 
      .headerNavLink:nth-child(1) {
        border-bottom: 3px solid #0065FC;
        padding: 45px 107px 20px 107px;
      } 
      .headerNavLink:nth-child(2) {
      border-bottom: 3px solid #f2f2f2;
      padding: 45px 162px 20px 165px;
      } 
  }
  /* HEADER SMARTPHONE */

        /* SEARCH TABLET=SEARCH DESKTOP */
        @media screen and (max-width: 992px) {
          .searchFormWidth {
            width: 45%;
          }  
          .searchFiltersFilter:nth-child(1) {
            width: 25%;
        }
        .searchFiltersFilter:nth-child(2) {
          width: 25%;
      }
        .searchFiltersFilter:nth-child(3) {
        width: 25%;
      }
        .searchFiltersFilter:nth-child(4) {
            width: 50%;
        }
          }
          /* SEARCH TABLET=SEARCH DESKTOP */
  
      /* SEARCH SMARTPHONE */
      @media screen and (max-width: 768px) { 
          .search {
            padding: 0px 0px 30px 0px;
        }
          .searchTitle br {
            display: block;
        }   
        .searchFormWidth {
          width: 98%;
        }  
          .searchFormWrapicon {
            border-radius: 30px 0px 0px 30px;
            padding: 30px;
        }    
          .searchFormInput {
          width: 68.5%;
          padding: 30px;
          }
          .searchFormSubmit {
              padding: 30px;
              border-radius: 30px;
          } 
          .searchFormSubmitText {
          display: none;
          }
          i.fa-search {
          color: #fff;
          display: block;
          } 
          .searchFilters {
            display: block;
          }   
          .searchFiltersTitle {
          padding: 0px 0px 25px 20px;
          }
          .searchFiltersContent {
            flex-wrap: wrap;
            margin: 0px;
          }
          .searchFiltersFilter {
            margin: 0px 10px 20px 0px;
        }
        .searchFiltersFilter:nth-child(1) {
          width: 50%;
      }
      .searchFiltersFilter:nth-child(2) {
        width: 47%;
      }
      .searchFiltersFilter:nth-child(3) {
        width: 100%;
      }
      .searchFiltersFilter:nth-child(4) {
        width: 100%;
      }
      .searchFiltersFilterType {
        padding: 0px 25px 0px 20px;
      }  
      .searchResult {
        padding: 0px 0px 0px 20px;
      }  
      .searchResultText {
        margin: 20px 0px 0px 10px;
      } 
      .searchResultText br {
        display: block;
      }
      }
       /* SEARCH SMARTPHONE */
  
      /* HOSTING TABLET=HOSTING MOBILE & HOSTING DESKTOP */
      @media screen and (max-width: 992px) {
      .hostingContent {
        display: block;
      }
      .hostingPopular {
        border: none;
        border-radius: 0px;
        margin: 0px;
        order: 1;
        width: 100%;
        padding: 20px 30px 30px 0px;
      } 
      .PopularTitle {
        padding: 0px 0px 20px 30px;
      }
      .PopularContent {
        display: flex;
        width: 100%;
      }
      .PopularCard {
        margin: 0px 0px 30px 30px;
      }
      .PopularCardFigure {
        justify-content: space-between;
      }
      .PopularCardFigureImg {
        width: 120px;
      } 
      .PopularCardFigcaption {
        padding: 30px 30px 0px 0px;
      }
      .PopularCardFigcaptionTitle {
        font-size: 10px;
      }
      .PopularCardFigcaptionSubtitle {
        font-size: 9px;
      }
      .hostingMain {
        border: none;
        border-radius: 0px;
        width: 100%;
        background-color: #fff;
        order: 2;
        padding: 20px 15px 0px 15px;
      }
      .MainCardFigcaptionTitle {
            line-height: 20px;
      }
      .MainCardFigcaptionSubtitle {
            line-height: 20px;
      }
      }
            /* HOSTING TABLET=HOSTING MOBILE & HOSTING DESKTOP */
  
          /* HOSTING SMARTPHONE */
      @media screen and (max-width: 768px) { 
        .hostingPopular {
          padding: 30px 0px 30px 0px;
          } 
        .PopularTitle {
          padding: 0px 0px 40px 0px;
        }
        .PopularContent {
          display: block;
        }
        .PopularCard {
          margin: 0px 0px 20px 0px;
          height: 230px;
        }
        .PopularCardFigureImg {
          width: 216px;
          height: 220px;
        }
        .PopularCardFigcaption {
        padding: 15px 200px 0px 0px;
        line-height: 30px;
        }
        .PopularCardFigcaptionSpace {
        padding: 60px 0px 0px 0px;
        }
        .hostingMain {
        margin: 0px;
        padding: 50px 0px 30px 0px;
        }
        .MainTitle {
        padding: 0px 0px 10px 0px;
        }     
        .MainContent {
        display: block;
        }
        .MainCard {
        margin: 10px 0px 25px 0px;
        height: 300px;
        width: 100%;
        }
        .MainCardFigureImg {
          height: 180px;
          } 
        .MainCardFigcaptionSubtitle {
          line-height: 45px;
        }
        .ViewmorePadding {
          padding: 20px 0px 0px 0px;
        } 
        }
        /* HOSTING SMARTPHONE */
  
        /* ACTIVITY TABLET=ACTIVITY DESKTOP */
        @media screen and (max-width: 992px) {
          .activity {
            padding: 30px 0px 0px 0px;
          }
          .activityContent {
            padding: 0px 10px 0px 30px;
          }
          .activityCardFigcaptionTitle {
          font-size: 13px;
          }
          }
        /* ACTIVITY TABLET=ACTIVITY DESKTOP */
  
        /* ACTIVITY SMARTPHONE */
      @media screen and (max-width: 768px) {
        .activityTitle {
        padding: 0px 0px 40px 0px;
        }
        .activityContent {
          display: block;
          padding: 0px;
          }
          .activityColumn {
           width: 100%;
          }
          .activityCard {
            margin: 0px 0px 30px 0px;
            width: 100%;
            height: 280px;
          }
          .activityCardFigureImg {
            border-radius: 10px 10px 0px 0px;
            height: 200px;
            } 
          .activityCardFigcaption {
          padding: 35px 0px 0px 0px;
          }
          .activityCardFigcaptionTitle {
          line-height: 1px;
          }
          .activityCardFigcaptionGrade {
          padding: 0px 0px 5px 0px;
          }
        }
        /* ACTIVITY SMARTPHONE */
  
/* FOOTER TABLET=FOOTER DESKTOP */

/* FOOTER SMARTPHONE */
@media screen and (max-width: 768px) {
  .footer {
  padding: 50px 0px 50px 0px;
  }
  .footerContent {
  display: block;
  }
  .footerColumn {
    padding: 0px 0px 30px 0px;
    }
  .footerColumnTitle {
  padding: 0px 0px 30px 0px;
  }
  }
  /* FOOTER SMARTPHONE */ 